.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 10px 10px 10px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.container {
  padding: 222px 16px;
}

.card-space {
  margin: 10px 10px 10px 10px;
}

.nav-tabs {
  margin-bottom: 15px;
}

body {
  margin: -24px;
}

.carousel-text {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
